body {
    margin: 0;
}

#test-container {

}

#test-container canvas {
    position: absolute;
}

#test-container canvas.stretch {
    left: 0px;
    right: 0px;
}

.invisible {
    display: none;
}

#test-results {
    display: none;
}

#test-results.visible {
    display: block;
    z-index: 1000;
    width: 300px;
    height: 200px;
    background-color: lavender;
    position: absolute;
    left: 50px;
    top: 50px;
}

#test-results span {
    font-weight: bold;
}

.bigHeight {
    height: 3000px;
}